<ion-view style="" title="home"">

    <ion-nav-buttons side="right">
        <button class="button button-assertive" ng-click="">
           Deconnexion
        </button>
</ion-nav-buttons>
    <ion-content class="has-header" padding="'true'">
        <h1 style="">Cyber - riz</h1>
        <div style="width: 300px; height: 54px;" class="spacer"></div>
        <div ng-show ="message.msg"   >
            <button ng-click="message.msg=''" class="{{message.nClass}}">
                {{message.msg}}
            </button>
        </div>
        <form style="" class="list"></form>
        <div class="row" responsive-sm>
            <div class="col col-80">
                <a style="" class="button button-stable button-block " href="#/Previsions" menu-close="">Previsions des recolte</a>
            </div>
            <div class="col">
                <a style="" class="button button-dark button-block " href="#/archives/Previsions">Archives</a>
            </div>
        </div>
        <div style="width: 300px; height: 30px;" class="spacer"></div>
        <div class="row">
            <div class="col col-80">
                <a style="" class="button button-stable button-block " href="#/Stocks" menu-close="">Stocks disponibles </a>
            </div>
            <div class="col">
                <a style="" class="button button-dark button-block " href="#/archives/Recoltes" menu-close="">Archives</a>
            </div>
        </div>
        <div style="width: 300px; height: 30px;" class="spacer"></div>
        <div class="row">
            <div class="col col-80">
                <a style="" class="button button-stable button-block " href="#/Produits" menu-close="">Produits des usines</a>            </div>
            <div class="col">
                <a style="" class="button button-dark button-block " href="#/archives/Produits" menu-close="">Archives</a>
            </div>
        </div>
        <div style="width: 300px; height: 30px;" class="spacer"></div>
        <div style="width: 300px; height: 30px;" class="spacer"></div>
        <div style="width: 300px; height: 30px;" class="spacer"></div>
        <a style="" class="button button-dark button-block " ng-click="uploadData()"  menu-close="">upload</a>
    </ion-content>
</ion-view>
