<ion-view style="" title="home">
    <ion-content class="has-header" padding="'true'">
        <h1 style="">Ciber - riz</h1>
        <div style="width: 300px; height: 54px;" class="spacer"></div>
        <form style="" class="list"></form>
        <a style="" class="button button-stable button-block " href="#/page11" menu-close="">2.2.1</a>
        <div style="width: 300px; height: 30px;" class="spacer"></div>
        <a style="" class="button button-stable button-block " href="#/page12" menu-close="">2.2.2</a>
        <div style="width: 300px; height: 30px;" class="spacer"></div>
        <a style="" class="button button-stable button-block " href="#/page13" menu-close="">2.2.3</a>
        <div style="width: 300px; height: 30px;" class="spacer"></div>
    </ion-content>
</ion-view>
