<div style="" class="list card">
            <div class="item item-divider">Informations sur le champ</div>
            <div class="item item-body">
                <form name="authorizationForm" novalidate="" class="list" ng-submit="addPrevision(authorizationForm)">
                    <table style="" class="item item-input">
                       <tr><td>Année de campagne agricole</td></tr>
                       <tr><td> <input placeholder="" name="ann" type="number"  required ng-model="prevision.data.anneeCampagne" ></td></tr>
                    </table>
                    <table style="" name="dsdsds" class="item item-input">
                        <tr ><td>Spéculation (Riz)</td></tr>
                        <tr ><td><input placeholder="" type="text" name="spec" required ng-model="prevision.data.speculation"></td></tr>
                    </table>
                    <table style="" class="item item-input">
                        <tr><td>Superficie emblavée</td></tr>
                        <tr><td> <input placeholder="" type="number"  name="sup" required ng-model="prevision.data.superficie"></td></tr>
                    </table>
                    <table style="" class="item item-select">
                        <tr ><td>Catégorie Semence</td></tr>
                        <tr><td> <select  ng-model="prevision.data.categorie" >
                            <option value="R1">R1</option>
                            <option value="R2">R2</option>
                        </select></td></tr>
                    </table>
                    <table style="" class="item item-input">
                        <tr ><td>Variété&nbsp;</td></tr>
                        <tr ><td> <input placeholder="" type="text" name="var" required ng-model="prevision.data.variete"></td></tr>
                    </table>
                    <table style="" class="item item-input">
                        <tr ><td>Production prévue (T)</td></tr>
                        <tr ><td><input placeholder="" type="text" name="pp" required ng-model="prevision.data.productionPrevue"></td></tr>
                    </table>
                    <table style="" class="item item-input">
                        <tr ><td>Localisation</td></tr>
                        <tr ><td><input placeholder="" type="text"  name="loc" required ng-model="prevision.data.location"></td></tr>
                    </table>
                    <table style="" class="item item-select">
                        <tr><td>Ecosystème</td></tr>
                        <tr><td><select  ng-model="prevision.data.ecosysteme" >
                            <option value="v1">irrige</option>
                            <option value="v2">plateau</option>
                        </select></td></tr>
                    </table>
                    <button type="submit" class="button button-stable button-block  icon-left ion-android-create">Valider</button>
                    <!--<a style="" class="button button-stable button-block  icon-left ion-android-attach" ng-click="addPrevision()" menu-close="">Valider</a>-->
                </form>
            </div>
        </div>