<ion-view style="" title="previsions">
    <ion-content class="has-header" padding="'true'">
        <h2 style="">Prévisions de récolte</h2>
        <form style="" class="list"></form>
        <div style="" class="list card">
            <div class="item item-divider">Identification duu Producteur</div>
            <div class="item item-body">
                <form style="" class="list">
                    <label style="" class="item item-input">
                        <span class="input-label">Nom</span>
                        <input placeholder="" type="text" ng-model="prevision.user.name">
                    </label>
                    <label style="" class="item item-input">
                        <span class="input-label">Prenom</span>
                        <input placeholder="" type="text">
                    </label>
                    <label style="" class="item item-input">
                        <span class="input-label">Lieu</span>
                        <input placeholder="" type="text">
                    </label>
                    <label style="" class="item item-input">
                        <span class="input-label">Contact</span>
                        <input placeholder="" type="text">
                    </label>
                    <label style="" class="item item-input">
                        <span class="input-label">Structure</span>
                        <input placeholder="" type="text">
                    </label>
                    <a style="" class="button button-stable button-block " href="#/page14" menu-close="">Suivant</a>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
