<div style="" class="list card">
    <div class="item item-divider">Informations sur le riz</div>
    <div class="item item-body">
        <form name="authorizationForm" novalidate="" class="list" ng-submit="addProduit(authorizationForm)">
            <table style="" class="item item-input">
                <tr><td>Date de stockage<td></tr>
                <tr><td><input placeholder="" type="date" name="sdate" required  ng-model="produit.riz.sDate" ><td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Variete<td></tr>
                <tr><td>  <input placeholder="" type="text" name="var" required  ng-model="produit.riz.variete"><td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Quantite<td></tr>
                <tr><td> <input placeholder="" type="number" required name="qu" ng-model="produit.riz.quantite"><td></tr>
            </table>
            <table style="" class="item item-select">
                <tr><td>Categorie<td></tr>
                <tr><td> <select  ng-model="produit.riz.categorie" >
                    <option value="v1">Entier</option>
                    <option value="v2">Brise</option>
                    <option value="v2">Intermediaire</option>
                </select>
            </table>
            <table style="" class="item item-select">
                    <tr><td>Qualite<td></tr>
                <tr><td> <select  ng-model="produit.riz.qualite" >
                        <option value="v1">Entier</option>
                        <option value="v2">Brise</option>
                        <option value="v2">Intermediaire</option>
                    </select><td></tr>
                </table>
            <table style="" class="item item-input">
                    <tr><td>Lieu<td></tr>
                <tr><td>  <input placeholder="" type="text"  required name="lieu" ng-model="produit.riz.lieu"><td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Contact<td></tr>
                <tr><td> <input placeholder="" type="text" name="con" required ng-model="produit.riz.contact"><td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Date Client<td></tr>
                <tr><td><input placeholder="" type="date" required name="cdate" ng-model="produit.riz.cDate"><td></tr>
            </table>


<button type="submit" class="button button-stable button-block  icon-left ion-android-create">Valider</button>

            <!--<a style="" class="button button-stable button-block  icon-left ion-android-attach" ng-click="addProduit()" menu-close="">Valider</a>-->


        </form>
    </div>
</div>