<div style="" class="list card">
    <div class="item item-divider">Informations sur le paddy</div>
    <div class="item item-body">
        <form  name="authorizationForm" novalidate="" ng-submit="sign(authorizationForm)" class="list">
            <table style="" class="item item-input">
                <tr><td>Nom fournisseur</td></tr>
                <tr><td><input placeholder="" type="text" required  ng-model="produit.paddy.firstName" ></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Prenom fournisseur</td></tr>
                <tr><td> <input placeholder="" type="text" required ng-model="produit.paddy.lastName" ></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Type</td></tr>
                <tr><td> <input placeholder="" type="text" required  ng-model="produit.paddy.type"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Lieu</td></tr>
                <tr><td><input placeholder="" type="text" required  ng-model="produit.paddy.lieu"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Contact</td></tr>
                <tr><td>  <input placeholder="" type="text" required ng-model="produit.paddy.contact"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Date</td></tr>
                <tr><td> <input placeholder="" type="Date" required  ng-model="produit.paddy.sDate"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Variété&nbsp;</td></tr>
                <tr><td> <input placeholder="" type="text"  required ng-model="produit.paddy.variete"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Quantite(T)</td></tr>
                <tr><td> <input placeholder="" type="number"  ng-model="produit.paddy.quantite"></td></tr>
            </table>
            <table style="" class="item item-select">
                <tr><td>Qualite</td></tr>
                <tr><td> <select  ng-model="produit.paddy.qualite" >
                    <option value="v1">Q1</option>
                    <option value="v2">Q2</option>
                </select></td></tr>
            </table>

<button type="submit"  class="button button-stable button-block" >Suivant</button>
            <!--<a style="" class="button button-stable button-block"  ui-sref="produit.page3"   menu-close="">Suivant</a>-->

        </form>
    </div>
</div>