<div style="" class="list card">
    <div class="item item-divider">Identification usinier</div>
    <div class="item item-body">
        <form name="authorizationForm" novalidate="" ng-submit="signIn(authorizationForm)"  class="list">
            <table style="" class="item item-input">
                <tr><td>Nom</td></tr>
                <tr><td> <input placeholder="" type="text" required ng-model="produit.user.firstName"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Prenom</td></tr>
                <tr><td> <input placeholder="" type="text" required ng-model="produit.user.lastName"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Pays</td></tr>
                <tr><td><input placeholder="" type="text" required ng-model="produit.user.pays"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Ville</td></tr>
                <tr><td> <input placeholder="" type="text" required ng-model="produit.user.ville"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Zone/Village</td></tr>
                <tr><td> <input placeholder="" type="text" required ng-model="produit.user.zone"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Contact</td></tr>
                <tr><td> <input placeholder="" type="text" required ng-model="produit.user.contact"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Type Usine</td></tr>
                <tr><td> <input placeholder="" type="text" required ng-model="produit.user.typeUsine"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Capacite</td></tr>
                <tr><td><input placeholder="" type="number" required ng-model="produit.user.capaciteUsine"></td></tr>
            </table>
            <button class="button button-stable button-block " type="submit"> Suivant</button>
            <!--<a style=""  ui-sref="produit.page2" menu-close="">Suivant</a>-->
        </form>
    </div>
</div>