<div style="" class="list card">
    <div class="item item-divider">Identification du Producteur</div>
    <div class="item item-body">
        <form style="" class="list">
            <table style="" class="item item-input">
                <tr><td>Nom</td></tr>
                <tr><td><input placeholder="" type="text" ng-model="stock.user.firstName">
            </table>
            <table style="" class="item item-input">
                <tr><td>Prenom</td></tr>
                <tr><td> <input placeholder="" type="text" ng-model="stock.user.lastName"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Pays</td></tr>
                <tr><td> <input placeholder="" type="text" ng-model="stock.user.pays"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Ville</td></tr>
                <tr><td> <input placeholder="" type="text" ng-model="stock.user.ville"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Zone/Village</td></tr>
                <tr><td> <input placeholder="" type="text" ng-model="stock.user.zone"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Contact</td></tr>
                <tr><td>  <input placeholder="" type="text" ng-model="stock.user.contact"></td></tr>
            </table>
            <table style="" class="item item-input">
                <tr><td>Structure</td></tr>
                <tr><td>  <input placeholder="" type="text" ng-model="stock.user.structure"></td></tr>
            </table>
            <a style="" class="button button-stable button-block " ui-sref="stock.page2" menu-close="">Suivant</a>
        </form>
    </div>
</div>